---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../layouts/Sidebar';
import DotGrid from '../components/DotGrid';
import Card from '../components/Card'
import Heading from '../components/typography/Heading'
import Text from '../components/typography/Text'
import ToggleFAB from '../components/ToggleFAB'
import { Picture } from '@astrojs/image/components'
---

<Layout title="Welcome to Astro.">
	<Sidebar.Layout>
		<Sidebar>
      <Heading as="h1" size={3}>
        <Text gradient='warning' as="span">
          Chris D. Macrae
        </Text>
        </Heading>
			<Sidebar.Link href="#">
        Engineering Management
      </Sidebar.Link>
      <Sidebar.Link href="#">
        Design Management
      </Sidebar.Link>
      <Sidebar.Link href="#">
        Web Development
      </Sidebar.Link>
      <Sidebar.Link href="#">
        Systems Thinking
      </Sidebar.Link>
      <div class="mt-auto flex flex-col gap-4">
        <Card>
          <div class="inline-block rounded-full w-3 h-3 w-full bg-green-300 mr-4"></div>
          <Text as="span">
            <strong>I'm available</strong>
          </Text>
          <Text>I'm currently available for freelance work. <a href="/contact">Get in touch</a></Text>
        </Card>
        <Sidebar.Link href="#">
          More about Chris
        </Sidebar.Link>
      </div>
		</Sidebar>
		<Sidebar.Pane>
      <div class="w-full">
        <DotGrid>
          <div class="w-full flex flex-row justify-end pb-4 -mt-10">
            <ToggleFAB client:idle />
          </div>
          <div class="flex flex-col items-center gap-6 py-[7rem]">
            <div class="flex flex-col items-center text-center gap-2 lg:gap-6">
              <Heading as='h1'>
                Learn about <Text as='span' gradient='success'>design management</Text>.
              </Heading>
              <div class="flex flex-col items-center gap-2">
                <Text color='muted'>
                  Hi 👋, my name is Chris and I'm a fullstack engineer and designer.
                </Text>
                <Text color="muted">
                  This site is all about teaching. Why don't you jump right in:
                </Text>
              </div>
            </div>
            <div class="w-full max-w-[40rem]">
              <Card>
                <Text as="span">
                  <ul class="list-disc list-inside">
                    <li>Engineering management</li>
                    <li>Design management</li>
                    <li>Web development</li>
                    <li>Systems thinking</li>
                  </ul>
                </Text>
              </Card>
            </div>
          </div>
        </DotGrid>

        <div class="m-auto max-w-[40rem] flex flex-row gap-6 py-[7rem]">
          <Picture 
            src="/me.jpg" 
            role="presentation" 
            alt="" 
            widths={[400, 500, 600, 700, 800, 900, 1000]}
            sizes="100vw, (min-width: 768px) 500px"
            aspectRatio="1:2"
          />
          <Heading as="h2">
            Learn from who?
          </Heading>
          <Text>
            That is a great question.
          </Text>
        </div>
      </div>
    </Sidebar.Pane>
	</Sidebar.Layout>
</Layout>