---
import { basename } from 'path'
import Layout from "../layouts/Layout.astro";
import Sidebar from "../layouts/Sidebar";
import DotGrid from "../components/DotGrid";
import Heading from "../components/typography/Heading";
import Text from "../components/typography/Text";
import ToggleFAB from "../components/ToggleFAB";
import { Picture } from "@astrojs/image/components";
import Icon from "../components/Icon";
import { categories } from "../content/articles/_categories";
import { CardArticle } from '../components/CardArticle';

const articles = (await Astro.glob('../content/articles/*.mdx')).map(article => ({
  ...article,
  slug: basename(article.file).split('.')[0]
}))
const category = categories.find(category => category.slug === 'engineering-management')
const categoryArticles = articles.filter(article => article.frontmatter.category === category?.slug)
---
<Layout title={`Learn about ${category!.name}`}>
  <div slot="sidebar" class="flex flex-col gap-2">
    <Sidebar.Header>
      <a href="/">
        <Heading as="h1" size={3}>
          <Text gradient="warning" as="span">Chris D. Macrae</Text>
        </Heading>
      </a>
    </Sidebar.Header>
    <Text color='muted'>
      <strong>Featured Categories</strong>
    </Text>
    {categories
      .filter(category => category?.featured)
      .filter(c => c !== category)
      .map(category => (
        <Sidebar.Link href={`/articles/${category.slug}`}>
          <Icon name={category.icon} />
          {category.name}
        </Sidebar.Link>
    ))}
  </div>
  <div class="w-full">
    <DotGrid size="screen">
      <div class="w-full flex flex-row justify-end pb-4 -mt-10">
        <ToggleFAB client:idle />
      </div>
      <div
        class="flex flex-col items-center justify-center gap-6 lg:py-[1.5rem]"
      >
        <div class="flex flex-col items-center text-center gap-2 lg:gap-6">
          <Heading as="h1">
            Learn about <Text as="span" gradient="primary">engineering management</Text>.
          </Heading>
          <div class="flex flex-col items-center gap-2">
            <Text color="muted">
              Hi 👋, my name is Chris and I'm a fullstack engineer and
              designer. This site is all about sharing what I've learned about engineering management.
            </Text>
          </div>
        </div>
        <div />
      </div>
      <div />
    </DotGrid>

    <div class="flex flex-col gap-4 max-w-[60rem] m-auto">
      <div class="px-4 lg:px-0">
        <Heading as='h2' size={4}>All Articles</Heading>
        <hr class="border-b border-slate-200 dark:border-slate-800" />
      </div>
      <div class="-mx-2 lg:-mx-6">
        {categoryArticles.map(article => (
          <CardArticle article={article} />
        ))}
      </div>
    </div>

    <div
      class="m-auto max-w-[60rem] flex flex-col items-center lg:flex-row gap-6 lg:py-[7rem]"
    >
      <Picture
        src="/images/me.jpeg"
        role="presentation"
        alt=""
        widths={[400, 500, 600, 700, 800, 900, 1000]}
        sizes="100vw, (min-width: 768px) 500px"
        aspectRatio="3:4"
        class="hidden lg:block lg:max-w-sm xl:max-w-md rounded-md overflow-hidden shadow-md"
      />
      <Picture
        src="/images/me.jpeg"
        role="presentation"
        alt=""
        widths={[400, 500, 600, 700, 800, 900, 1000]}
        sizes="100vw"
        aspectRatio="16:9"
        position="attention"
        class="box-content block lg:hidden w-[calc(100%+5rem)] max-w-[calc(100%+2.5rem)] -mx-5"
      />
      <div class="flex flex-col gap-4">
        <Heading as="h2">
          Learn from <em><Text gradient="warning" as="span">who</Text></em>?
        </Heading>
        <Text>
          Hi again 👋. I'm Chris D. MacRae, a fullstack engineer and
          designer whose been working with tech for over <em>10 years</em>.
        </Text>
        <Text>
          <Text gradient="info" as="span">
            <strong>Teaching and mentorship</strong>
          </Text> has always been my passion, but doing it 1:1 doesn't scale.
          Thus, in 2023 my goal is to use this site to start providing more mentorship,
          training, and tutorials as possible, to as wide an audience as I possibly
          can.
        </Text>
        <Text>
          I work at <a href="https://careguide.com" rel="noopener"
            ><Text gradient="primary" as="span">
              <strong>Careguide</strong>
            </Text></a
          >
          as Lead Engineer, where I coach a team of 8 engineers and 2 designers.
        </Text>
        <Text>
          In my career I have had the privledge of working with
          <span class="inline-block"
            ><Icon name='brand-apple' /> Apple</span
          >,
          <Icon name='brand-mastercard'/> Mastercard,
          <Icon name='building-bank' /> Scotiabank,
          <Icon name='news' /> PostMedia, and many more.
        </Text>
        <Text>
          Learn more about me, such as my <a href="/is-using">favorite tools</a>, 
          <a href="/qualifications">my qualifications</a>, or <a href="/about">personal history</a>.
        </Text>
      </div>
    </div>
    <footer class="pt-8 pb-4">
      <Text color="muted">
        Copyleft &copy; {new Date().getFullYear()}
      </Text>
    </footer>
  </div>
</Layout>
