---
import Search from "../components/Search";
import "./Layout.css"
import Sidebar from "./Sidebar";
import TabBar from "./Tabbar";
import { THEME_COOKIE } from "../components/hooks/useTheme";

export interface Props {
	title: string
  tabs?: boolean
}

const { title, tabs = true } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | chrisdmacrae.com</title>

    <link rel="stylesheet" href="/css/prism.css" />
    <script is:inline define:vars={{ THEME_COOKIE }}>
      const override = window.localStorage.getItem(THEME_COOKIE)
      const prefersDark = override === 'dark' || !override && window.matchMedia('(prefers-color-scheme: dark)').matches
      const root = document.documentElement

      if (prefersDark) {
        root.classList.add('dark')
      }
      else {
        root.classList.remove('dark')
      }
    </script>
	</head>
	<body class="antialiased">
    <TabBar.Layout sm={tabs} noBottomSpace={!tabs}>
      <Search client:idle />
      {tabs && <TabBar client:load />}
      <Sidebar.Layout>
        <Sidebar>
          <slot name="sidebar" />
          <Sidebar.Footer />
        </Sidebar>
        <Sidebar.Pane>
      		<slot />
        </Sidebar.Pane>
      </Sidebar.Layout>
    </TabBar.Layout>
	</body>
</html>
