---
export interface Props {
	title: string;
}

const { title } = Astro.props;
const theme = Astro.cookies.get('theme').value
---

<!DOCTYPE html>
<html lang="en" class={theme === 'dark' ? 'dark bg-slate-900' : 'bg-slate-50'}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="antialiased">
		<slot />
	</body>
</html>
